.aboutusDiv {
	margin-top: 169px;
	background-color:#CCC;
	padding-top: 50px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.main{
	
	background-color:#CCC;
}

.office{
	float:left;
    
	
}
.contactus{
	
	
}
.reception{
	float:left;
	
}
.aboutusDiv h2{
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
}