@CHARSET "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	
	/*border:solid 1px red;*/
}

body {
	background-color:rgba(100,100,100,0.1);
	font-size: 3em;
	text-align: center;
}

#navBar{
	background: url(../img/navBack.png);
	background-repeat: no-repeat; 
	background-size : 100% 100%;
	position: absolute;
	width: 100%;
	height: 249px;
	z-index: 150;
	
	color: white;
}
#logo {
	position: absolute;
	width: 10%;
	height: 100%;
	
}
#logo img{
	margin-top: 40px;
	height: 50%;
	width: auto;
	z-index: 190;
	
	
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#logo img:HOVER{
	margin-top: 40px;
	height: 55%;
	
}


#upperNav {
	position: absolute;
	width: 50%;
	min-width: 280px;
	left: 10%;
	text-align: left;
	z-index: 200;
}
#upperNav ul {
	overflow: hidden;
	padding-top:1%;
	list-style-type: none;
	
}
#upperNav li {
	float: left;
	padding: 3px;
	font-family: 'Lobster Two', cursive;
	font-weight: bold;
 	font-size: 0.25em;
	text-align: center;
	
}
#upperNav li a {
	display: block;
 	text-decoration: none;
	color: white;
}
#upperNav li a:HOVER {
	color: #ff0000;
}
#search_form{
	margin-left: 75%;
	margin-top:3px;
	font-size: 12pt;
}
#search_term
{
  	width: 50%;
	padding: 6px;
	border: 1px solid #999;
  	border-radius: 5px;
  	-webkit-appearance: none;
  	z-index: 150;
}
#search_button{
	padding: 6px;
	border: 1px dotted #999;
 	border-radius: 5px;
	
	color: #ffffff;
	background-color: #c0c0c0;
  	-webkit-appearance: none;
  	z-index: 150;
}
#search_button:HOVER
{
	background-color: #ffffff;
	color: #000000;
}
#search_button:ACTIVE
{
	background-color: #0000ff;
}


#contactNav {
	margin-top: -10px;
	position: absolute;
	width: 23%;
	height: 50px;
	left: 67%;
	text-align: left;
	z-index: 200;
	
	-o-transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
	-webkit-transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
	transition: height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}
#contactNav:HOVER {
	height: 60px;
	margin-top: 0px;
}
#contactNav a{    
	height: 100%;
    width: auto;
    min-width: 300px;
    display: block;
	text-decoration: none;
	color: white;
	padding-top: 20px;
	font-size: 0.7em;
	
	-o-transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
	transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
#contactNav a:HOVER{
	color: red;
	font-size: 0.9em;
}
#contactNav img{    
	float: left;
    margin-top: -7px;
    height: 100%;
    width: auto;
}
#menu{
	z-index: 200;
}
.liMenu {
	list-style-type: none;
	width: 20%;
	text-align: center;
	float: left;
	background: black;
}

.liMenu a {
	text-decoration: none;
	font-size: 12pt;
	display: block;
	padding: 20px;
	border: solid white 1px;
	/*box-shadow: 5px 5px 5px gray;*/
	color: white;
	
	-o-transition: color .2s ease-out, background 0.5s ease-in;
	-ms-transition: color .2s ease-out, background 0.5s ease-in;
	-moz-transition: color .2s ease-out, background 0.5s ease-in;
	-webkit-transition: color .2s ease-out, background 0.5s ease-in;
	transition: color .2s ease-out, background 0.5s ease-in;
}

.liMenu a:hover {
	/*box-shadow: 3px 3px 3px gray;
	border: none;*/
	color: black; 
	background: white;
}
.active{
	background-color:rgba(100,100,100,0.8);
}
.stickyMenu{
	width: 80%;
	margin-left: 10%;
	margin-top: 174.5px;
	min-width: 960px;
	
}

.isStuck{
	width: 80%;
	margin-top: 0.5px;
}
#fleche{
	font-size: 8pt;
	padding: 0px;
	border: solid white 1px;
	background: black;
	cursor: pointer; cursor: hand;
}
#fleche a{
	text-decoration: none;
	display: block;
	color: white;
}

#container {
	background-color:rgba(255,255,255, 1);
	position: absolute;
	width: 100%;
	top: 120px;
	overflow: hidden;
}
#ajaxDiv{
	min-height: 500px;
}
.carousell img{
	margin: 0 auto;
	width:100%;
	height: auto;
	z-index: 100;
}
.carousell p{
    position: absolute;
    width: 10%;
    margin-top: -200px;
    padding-left: 1%;
}
.carousell a{
	font-family: 'Poiret One', cursive;
	font-size: 0.5em;
	text-decoration: none;
	display: block;
	color: white;
	text-shadow: 0 0 2px #FF0000;
}

.content{
	background-color:rgba(255,255,255,0.4);
	width: 90%;
	min-width: 800px;
	margin: 0 auto;
	height: 600px;
	clear: both;
}

.imageDiv{
	width: 100%;
	height: 500px;
	clear: both;
	
}
#divImage1{
	background: url(../img/5.jpg);
	background-repeat: no-repeat; 
	background-size : 100% 100%;
}
#divImage2{
	background: url(../img/2.jpg);
	background-repeat: no-repeat; 
	background-size : 100% 100%;
}
#divImage3{
	background: url(../img/3.jpg);
	background-repeat: no-repeat; 
	background-size : 100% 100%;
}
#divImage4{
	background: url(../img/4.jpg);
	background-repeat: no-repeat; 
	background-size : 100% 100%;
}
.titles{
	font-family: 'Orbitron', sans-serif;
	margin-bottom: -2%;
	text-align: left;
	margin-left: 3%;
	color: white;
    text-shadow: 2px 2px 4px #000000;
}

.imageTitle{
	padding-top: 10%;
	margin-left: -30%;
	
	color: white;
}

.category{
	box-shadow: inset 6px 7px 8px rgba(255,250,210,0.5);
	position: relative;
	width: 45%;
	height: 38%;
	margin-left: 3%;
	margin-top: 2%;
	float: left;
	text-align: left;
	border:solid 1px #c0c0c0;
	
	
	font-family: 'Orbitron', sans-serif;
}
.categoryText1 {
	position: absolute;
	width: 100%;
	top:20%;
	left:1%;
}

.categoryText2{
	position: absolute;
	width: 60%;
	top:50%;
	left:15%;
}

.categoryText1 a{
	text-decoration: none;
	display: block;
	font-size: 0.6em;
	color: #808080;
	
	
}
.categoryText2 a{
	text-decoration: none;
	display: block;
	font-size: 0.4em;
	color: #9f0000;
	
	
}
.category>div{
	position: absolute;
	height: 100%;
}
.category>div:nth-child(1){
	width: 100%;
	z-index: 100;
	left: 0;
}
.category>div:nth-child(2){
	right: 0;
}
.category img{
	height: 100%;
	width: auto;
	
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
#searchcontrol{
	font-size: 12pt;
	min-height: 800px;
}
#footer{
	background-color:rgba(0,0,255,0.8);
	width: 100%;
	height: 100px;
	
	color: white;
}