.contactusDiv {
	margin-top: 169px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.contactusDiv p{
	margin: 100px;
	width: 50%;
	margin: 0 AUTO;
	padding-top: 50px;
	color:red;
}